streamlit==1.60.0
python-docx==1.2.0
openpyxl==3.1.5
requests==2.34.2
langchain>=0.3
langchain-google-genai>=2.0
langgraph>=0.4
python-dotenv>=1.0
markdown>=3.5
teams_core @ git+https://github.com/MichiMoments/MiddlewareGraph-Azure.git@main
psycopg2-binary>=2.9

#pip install --force-reinstall --no-deps git+https://github.com/MichiMoments/MiddlewareGraph-Azure.git@main
